
@model VoteViewModel

@{
    ViewBag.Title = "Vote";
}

<h2>Vote for @Model.EventName</h2>
@foreach (var item in Model.Places)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@item.PlacePhotoUrl">
                <div class="caption">
                    <h3>@item.Place.Name</h3>

                    @foreach (var timeItem in item.Place.Times)
                    {
                        <p>
                            @timeItem.Time
                            <a asp-controller="Vote"
                               asp-action="TestVote"
                               asp-route-id="@Model.EventId"
                               asp-route-placeAtTimeId="@timeItem.Id"
                               class="btn btn-primary"
                               role="button">
                                Vote
                            </a>
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
}
