@using System.Threading.Tasks
@using EventPlanner.Models.Event

@model AddPlacesViewModel

@if (Model == null)
{
    Url.Action("Index", "Home", new { CurrentEvent = Model });
}

@section AddToHead{
    <link href="@Url.Content("~/lib/select2/dist/css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/dropdown.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css")" rel="stylesheet" />
}

<h2>Add places and times</h2>

@if (Model.Places.Any())
{
    int iterator = 0;
    <div class="panel panel-default">
        <div class="panel-body">
            @foreach (var place in Model.Places)
            {
                string divId = "CurrentTime" + iterator;
                <div class="form-group">
                    @* Display place name *@
                    <h3>@Html.DisplayFor(modelItem => place.Name)</h3>

                    <ul class="row">
                        @foreach (var time in place.Times)
                        {
                            <li>
                                @* Display time for the place*@
                                @Html.DisplayFor(modelItem => time.Time)
                            </li>
                        }

                        @if (Model.CurrentPlaceFoursquareId != "")
                        {
                            @* New time*@
                            <form asp-action="AddSingleTime" class="form-inline">
                                <div class="form-group">
                                    <div class='input-group date' id=@divId>
                                        <input type='text' class="form-control" id="@divId" asp-for="CurrentTime" name=CurrentTime />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    <input type="submit" value="Add time" class="btn btn-primary" />
                                </div>

                                @* Hidden fields *@
                                <input id="foursquareId" asp-for="CurrentPlaceFoursquareId" value="@place.FourSquareId" type="text" hidden />
                                <input id="eventId" asp-for="EventId" type="text" hidden />

                                @if (Model.TimeErrorMessage != null && Model.CurrentPlaceFoursquareId == place.FourSquareId)
                                {
                                    <div class="err">
                                        @Model.TimeErrorMessage
                                    </div>
                                }
                            </form>
                        }
                    </ul>
                </div>
                iterator++;
            }
        </div>
    </div>
}


    @* New Place *@
    <div class="panel panel-default">
        <div class="panel-body">
            <form asp-action="AddSinglePlace" form class="form-inline">

                <div class="form-group">
                    <label>City: </label>
                    <input class="form-control" id="PlaceCity" />
                </div>

                <div class="form-group">
                    <select id="ddlplaces" name="CurrentPlaceFoursquareId" class="js-data-ddl-ajax">
                        <option selected="selected" style="width: 400px">Search places...</option>
                    </select>
                </div>


                @* Hidden field *@
                <input id="eventId" asp-for="EventId" type="text" hidden />

                @* Submit button *@
                <input type="submit" value="Add place" class="btn btn-primary" />

                @if (Model.PlaceErrorMessage != null)
            {
                    <div class="err">
                        @Model.PlaceErrorMessage
                    </div>
                }

            </form>
        </div>
    </div>

    @* Submit form and create the event *@
    @if (Model.CurrentPlaceFoursquareId != "")
            {
        <form asp-action="ShowCreatedEvent" form class="form-horizontal">

            @* Hidden field *@
            <input id="eventId" asp-for="EventId" type="text" hidden />

            @* Submit button *@
            <input type="submit" value="Finish" class="btn btn-primary" />

        </form>
    }
